baseHostIP: ""
media_host_ip: ""
kuma_url: ""
gluetun_health_url: ""
sonarr_api_key: ""
sonarr_queue_url: ""
sonarr_missing_url: ""
sonarr_cutoff_url: ""
radarr_queue_url: ""
radarr_api_key: ""
radarr_missing_url: ""
telegram_bot_token: ""
telegram_chat_id: ""
media_box_ssh_target: ""
media_box_ssh_user: ""
