media_host_ip: ""
gluetun_health_url: ""
sonarr_api_key: ""
sonarr_queue_url: ""
sonarr_missing_url: ""
sonarr_cutoff_url: ""
radarr_queue_url: ""
radarr_api_key: ""
radarr_missing_url: ""
media_box_ssh_target: ""
